<div class="container">
  <h1>Editing comic post</h1>

  <%= render "form", comic_post: @comic_post %>

  <br>

  <div>
    <%= link_to "Show this comic post", @comic_post %> |
    <%= link_to "Back to comic posts", comic_posts_path %>
  </div>
<div>
