<p style="color: green"><%= notice %></p>

<h1>Comic posts</h1>

<div id="comic_posts">
  <% @comic_posts.each do |comic_post| %>
    <%= render comic_post %>
    <p>
      <%= link_to "Show this comic post", comic_post %>
    </p>
  <% end %>
</div>

<%= link_to "New comic post", new_comic_post_path %>
