<div class="container">
<h1>Star Wars Characters</h1>
<% @people_data.each_with_index do |person, index| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= person['name'] %>
          </h5>
          <p class="card-text">
            <strong>Birth Year:</strong>
            <%= person['birth_year'] %>
          </p>
          <p class="card-text">
            <strong>Height:</strong>
            <%= person['height'] %>
          </p>
          <%= link_to "Show this character", sw_character_path(index), class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
