
<div class="container">
<h1>Custom Character Maker</h1>
<p>Create Your Own Custom Characters with Amazing Powers!</p>
<%= link_to "Custom Characters", custom_characters_path, class:"btn btn-primary" %>
<%= link_to "Star Wars Characters", sw_characters_path, class:"btn btn-secondary" %>
<%= link_to "Rick & Morty Characters", rm_characters_path, class:"btn btn-secondary" %>
</div>
