<div class="container">
<h1>Editing Custom Character</h1>

<%= render "form", custom_character: @custom_character %>

<br>

<div>
  <%= link_to "Show this Custom Character", @custom_character, class:"btn btn-primary" %> |
    <%= link_to "Back to Custom Characters", custom_characters_path, class:"btn btn-secondary" %>
</div>
</div>