<div class="container">
<h1>New custom character</h1>

<%= render "form", custom_character: @custom_character %>

<br>

<div>
  <%= link_to "Back to custom characters", custom_characters_path %>
</div>
</div>